@model Entity.Concrete.QuoteModel

<section class="py-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 mx-auto">
                <header class="text-center pb-5">
                    <h1 class="h2">Random Quote App</h1>
                </header>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mx-auto">
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p id="quote" class="mb-0 mt-2 font-italic">"@Model.quote"</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                        <cite id="author" title="Source Title">@Model.author</cite>
                        <div class="float-right"><button id="newQuote" value="Random" class="btn btn-primary">New Quote</button></div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
        $("#newQuote").click(function () {
            $.ajax({
                type: "POST",
                url: "/Quotes/GetNewQuote",
                cache: false,
                success: function (data) {
                    $("#quote").html(data.quote);
                    $("#author").html(data.author);
                }
            });
        });
</script>